/ExpenseTracker - Verknüpfung.lnk
/ExpenseTracker_2.ifp
/ExpenseTracker_v20240301.exe
/ExpenseTracker_v20240303.exe
/import_db.py
/tests.py
/expenses.db - Verknüpfung.lnk
/Pipfile
/Pipfile.lock
/tests.py
/.venv/
